<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.HTML" version="22.8.0" targetFramework="net472" />
  <package id="Aspose.Words" version="22.8.0" targetFramework="net472" />
  <package id="ClosedXML" version="0.96.0" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="2.16.0" targetFramework="net472" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Selenium.Support" version="4.4.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.4.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="105.0.5195.1900" targetFramework="net472" />
</packages>